<h2>Post Comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <table class = 'table table-striped'>
    <tboby>
      <tr>
        <th><%= f.label :Commenter %></th>
        <td><%= f.text_field :commenter, value: "#{current_user.first_name}" %></td>
      </tr>
      <tr>
        <th><%= f.label :Comment %></th>
        <td><%= f.text_area :comment, :rows => 10, :cols => 5%></td>
      </tr>
      <tr>
        <td><%= f.submit "Create", :class => 'btn btn-info'%></td>
      </tr>
    </tbody>
  </table>
<% end %>
<%= link_to 'Edit Post', edit_post_path(@post), :class => 'btn btn-primary' %>&nbsp;|&nbsp;
<%= link_to 'Back to Posts', posts_path, :class => 'btn btn-primary' %>
