<div class = "container">
<br/>
<table class = 'table table-bordered'>
 <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Created By </th>
    <th>Created At</th>
    <th>counts</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= @post.title %></td>
    <td><%= @post.content%></td>
    <td><%= @first_name %>&nbsp;<%= @last_name%></td>
    <td><%= @post.created_at%></td>
    <td> <%= @post.comments.count %></td>
  </tr>
 </tbody>
</table>
<br>
<%if current_user.present? %>
  <div id = 'like_post'>
    <%= render 'likes/like_post', :post => @post %>
  </div>
<% end %>

<%if @post.comments.present? %>
  <h2>Comments</h2>
  <table class = 'table table-bordered'>
    <thead>
      <tr>
        <th>Commenter's Name </th>
        <th>Comment</th>
      </tr>
    </thead>
    <% @post.comments.each do |comments| %>
      <tbody>
        <tr>
          <td><%= comments.commenter %></td>
          <td><%= comments.comment %></td>
          <td><%= link_to 'delete', [comments.post, comments], method: :delete, data: { confirm: 'Are you sure?'}, :class => 'btn btn-danger' %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% end %>
<%= render :partial => "comments/new" %>
