<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap-override", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id = "container span12" style ='padding-top : 20px; padding-left : 42px;'>
 <div id = "user_nav">
  <% if user_signed_in? %>
    <div class=' pull-right'>
      <% if current_user.first_name.present? %>
        Hi&nbsp;<%= current_user.first_name.titleize %> | &nbsp;
     <% else %>
         Hi&nbsp;<%= current_user.email %> | &nbsp;
     <% end %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'btn btn-info' %>&nbsp;&nbsp;
    </div>
  <% else %>
    <div class= 'pull-right'>
   <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-info' %> &nbsp;|&nbsp;</span>
  <%= link_to "Sign in", new_user_session_path, :class => 'btn btn-info' %>&nbsp;&nbsp;
  </div>
  <% end %>
 </div>
</br/>
</div>
<% flash.each do |key, value| %>
  <p><%= value %></p>
<% end %>

<%= yield %>

</body>
</html>
